@use "sass:math";
// 1. Configure Bootstrap variables FIRST
@use "bootstrap/scss/bootstrap" with (
  $primary: #843544,
  $secondary: #816058,
  $success: #3f7d68,
  // add more overrides here if needed
  // $body-bg: ...,
   // $font-family-sans-serif: ...,
);
#Navbar {
  --nav-item-padding: 0.4em 0.6em;
}

#Navbar .nav-item-link {
  padding: var(--nav-item-padding);
}

#Navbar .nav-category-submenu,
#Navbar .nav-admin-submenu {
  border-radius: 0.35rem;
}

@media (max-width: 640px) {
  #Navbar .nav-category-submenu,
  #Navbar .nav-admin-submenu {
    max-width: calc(100vw - 5rem);
  }
}
