#Navbar {
  --nav-item-padding: 0.4em 0.6em;
}

#Navbar .nav-item-link {
  padding: var(--nav-item-padding);
}

#Navbar .nav-category-submenu,
#Navbar .nav-admin-submenu {
  border-radius: 0.35rem;
}

@media (max-width: 640px) {
  #Navbar .nav-category-submenu,
  #Navbar .nav-admin-submenu {
    max-width: calc(100vw - 5rem);
  }
}
